<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <util:map id="levelsConfig" key-type="java.lang.Integer" value-type="java.lang.Integer">
        <entry key="2" value="20"/>
        <entry key="3" value="30"/>
        <entry key="4" value="50"/>
        <entry key="5" value="100"/>
    </util:map>

    <util:map id="levelUpAwardConfig" key-type="java.lang.Integer">
        <entry key="2">
            <bean class="common.dto.AwardStructure" p:money="100" p:energy="100"/>
        </entry>
        <entry key="3">
            <bean class="common.dto.AwardStructure" p:money="100" p:energy="100"/>
        </entry>
        <entry key="4">
            <bean class="common.dto.AwardStructure" p:money="100" p:energy="100"/>
        </entry>
        <entry key="5">
            <bean class="common.dto.AwardStructure" p:money="100" p:energy="100"/>
        </entry>
    </util:map>


    <bean id="empty" class="java.lang.String">
    </bean>

    <bean id="defaultLevel" class="java.lang.Integer">
        <constructor-arg value="1" />
    </bean>

    <bean id="defaultExperienceAndRating" class="java.lang.Integer">
        <constructor-arg value="0" />
    </bean>

    <bean id="defaultEnergy" class="java.lang.Integer">
        <constructor-arg value="25" />
    </bean>

    <bean id="defaultMoney" class="java.lang.Integer">
        <constructor-arg value="100" />
    </bean>

    <util:list id="emptyBackpackList" value-type="server.domain.BackpackItem">
    </util:list>

    <util:list id="emptyInventoryItemList" value-type="server.domain.InventoryItem">
    </util:list>

    <util:list id="emptyFriendsList" value-type="java.lang.Integer">
    </util:list>

    <bean id="costOfGame" class="java.lang.Integer">
        <constructor-arg value="5" />
    </bean>

    <bean id="duplicateMessageStateExceptionMessage" class="java.lang.String">
        <constructor-arg value="Inappropriate order of requests: two requests of type [%s] go straight one after another" />
    </bean>

</beans>